.cabecera{
    padding: 32px var(--padding-default);
    margin-left: 229px;
    margin-right: 240px;
}

.cabecera .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecera__logo{
    font-family: 'Babylonica', cursive;
    font-size: var(--fs-LOGO);
    font-weight: bold;
    padding: 0 1%;
    
    background: -webkit-linear-gradient(45deg, rgb(0, 214, 128) 0%, #35a281 25%, #2b6188 50%, #326ac5 75%, #448afa 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecera__nav__ul{
    display: flex;
    flex-wrap: wrap;
}

.cabecera__nav__lista__items{
    transition: all 500ms;
}

.cabecera__nav__lista__items a{
    color: var(--color-default);
    text-decoration: none;
    margin-left: 32px;
    font-weight: 500;
    font-size: var(--fs-content-P);
    line-height: 24px;
    
}

.cabecera__nav__lista__items:hover:not(:nth-child(6)) a{
    text-shadow: 2px 0 0 #448afa, -2px 0 0 #448afa, 0 2px 0 #448afa, 0 -2px 0 #448afa, 1px 1px #448afa, -1px -1px 0 #448afa, 1px -1px 0 #448afa, -1px 1px 0 #448afa;
    color: white;
}

.cabecera__nav__lista__items:hover:nth-child(6) a{
    text-shadow: 2px 0 0 #448afa, -2px 0 0 #448afa, 0 2px 0 #448afa, 0 -2px 0 #448afa, 1px 1px #448afa, -1px -1px 0 #448afa, 1px -1px 0 #448afa, -1px 1px 0 #448afa;
    color: white;
}

@media screen and (max-width: 1260px){

    .cabecalho__nav___lista_items:not(:nth-child(5)){
        display: none;
    }
}

@media screen and (max-width: 330px){
    
    .cabecalho__nav___lista_items{
    display: none;
    }
    .cabecalho .container{
    justify-content: center;
    }
}