.contacto{
    grid-area: contacto;
    background-color: var(--bg-secundario);
}

.contacto__box{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.contacto__img{
    grid-area: contacto__img;
    max-width: 464px;
    height: 593px;
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 12%;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.contacto__form__titulo{
    font-size: var(--fs-content-titulo700);
    line-height: var(--lh-content-titulo700);
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.contacto__form__subtitulo{
    font-size: var(--fs-content-P);
    line-height: var(--lh-content-P);
    margin-top: 15%;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.contacto__form__form{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-top: 22%;
    margin-right: 35%;
}

.input__container{
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input__label{
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-weight: 400;
    opacity: 0.7;
    transition: all .25s;
}

.input {
    box-sizing: border-box;
    padding: 25px 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 1.2em;

    transition: all .25s;
}

.input:not(:placeholder-shown) + .input__label, .input:focus + .input__label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.textarea {
    box-sizing: border-box;
    padding: 0.5rem;    
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
    resize: none;
}

.contacto__form__textarea {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.textarea:focus {
    outline: none;
}

.textarea__label {
    
    top: 0.5rem;
    left: 0.5rem;
    transition: all 0.25s;
}

.enviar{
    text-decoration: none;
    padding: 16px;
    margin-top: 10px;
    border: none;
    background: #2A7AE4;
    color: white;
    cursor: pointer;
}

.enviar:hover{
    background: #0e62d0;
}

.enviar:active{
    background: #006eff;
    transform: scale(0.9);
}


/* Smartphone */
@media screen and (max-width: 480px){

}


/* Tablet Mediana */
@media screen and (max-width: 768px){

}


/* Tablet Grande */
@media screen and (max-width: 1024px){

}

/* Notebook 14" */
@media screen and (max-width: 1300px){

    .contacto__img{
        max-width: 350px;
        height: 450px;
        border-radius: 30px;
        margin-left: 30%;
        margin-top: 12%;
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
    
    .contacto__form__subtitulo{
        font-size: var(--fs-content-P);
        line-height: var(--lh-content-P);
        margin-top: 18%;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin-bottom: 90%;
    }

    .contacto__form__form{
        margin-top: 24%;
    }

    .contacto__form__textarea {
        margin-top: 0.5rem;
    }

    .input__label{
        margin-top: -20px;
    }

    .input {
        margin-top: -20px;
    }
}