.formacion{
    background-color: var(--bg-secundario);
    padding: 68px 0;
}

.formacion__titulo{
    text-align: center;
    font-weight: 700;
    font-size: var(--fs-content-titulo700);
    line-height: var(--lh-content-titulo700);
    margin-bottom: 50px;
    color: white;
}

.formacion__figura__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formacion__figura{
    margin: 1%;
}

.formacion__figura p{
    line-height: var(--lh-subt400);
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.formacion__figura__imagen{
    width: 380px;
    height: 300px;
    object-fit: scale-down;
    background-color: white;
    line-height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formacion__figura__caption{
    font-size: var(--fs-subt400);
    line-height: var(--lh-subt400);
    font-weight: bold;
    color: white;
    text-align: center;
}


/* Smartphone */
@media screen and (max-width: 480px){

}


/* Tablet Mediana */
@media screen and (max-width: 768px){

}


/* Tablet Grande */
@media screen and (max-width: 1024px){

}

/* Notebook 14" */
@media screen and (max-width: 1300px){

    .formacion{
        padding: 40px 0;
    }
    
    .formacion__titulo{
        margin-bottom: 40px;
    }

    .formacion__figura__imagen{
        width: 320px;
        height: 220px;
    }

    .formacion__figura p{
        margin-bottom: 5px;
    }
}