.proyectos{
    grid-area: proyectos;
    padding: 38px 0;
}

.proyectos__box{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 54px 0;
}

.proyectos__box:nth-last-child(1){
    margin-bottom: 0;
}

.proyectos__titulo{
    text-align: center;
    font-weight: 700;
    font-size: var(--fs-content-titulo700);
    line-height: var(--lh-content-titulo700);
    margin-bottom: 25px;
    margin-top: 20px;
}

.proyectos__img{
    width: 752px;
    height: 406px;
    border-radius: 5px;
    box-shadow: -10px 10px 10px black;
    transition: all 0.5s;
    margin-right: 20px;
}

.proyectos__img:hover{
    transform: scale(1.03);  
}

.proyectos__descripcion__titulo{
    font-weight: bold;
    font-size: var(--fs-subt400);
    line-height: var(--lh-subt400); 
}

.proyectos__descripcion__subtitulo{
    font-size: var(--fs-content-P);
    line-height: calc(var(--lh-content-P) + 8px);
}

.proyectos__descripcion__btn__box{
    width: 100%;
    display: flex;
    gap: 10px;
}

.proyectos__descripcion__btn{
    text-decoration: none;
    padding: 16px;
    margin-top: 10px;
}

.repo{
    border: 1px solid var(--btn-blue);
    color: var(--btn-blue);
    transition: all 0.2s;
}

.repo:hover{
    border: 1px solid var(--btn-hover);
    color: var(--btn-hover);
}

.repo:active{
    transform: scale(0.8);
}

.demo{
    background: var(--btn-blue);
    color: white;
    transition: all 0.3s;
}

.demo:hover{
    background-color: var(--btn-hover);
}

.demo:active{
    transform: scale(0.8);
}

/* Smartphone */
@media screen and (max-width: 480px){

}


/* Tablet Mediana */
@media screen and (max-width: 768px){

}


/* Tablet Grande */
@media screen and (max-width: 1024px){

}

/* Notebook 14" */
@media screen and (max-width: 1300px){

  .proyectos{
    padding: 10px 0;
    margin-bottom: 30px;
  }

  .proyectos__titulo{
    margin-bottom: 15px;
  }

  .proyectos__img{
    width: 550px;
    height: 300px;
    border-radius: 10px;
  }
}