.skills{
    grid-area: skills;
    padding: 60px 0;
}

.skills__titulo{
    text-align: center;
    font-weight: 700;
    font-size: var(--fs-content-titulo700);
    line-height: var(--lh-content-titulo700);
    margin-bottom: 60px;
    margin-top: 30px;
}

.skills__cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

.skills__cards__links h3{
    color: #FFF;
    background-color: #000;
    text-align: center;
    opacity: 0.5;
}

.skills__cards__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 180px;
    height: 180px;
    margin: 1% 1% 3% 1%;
    line-height: 30px;

    font-weight: bold;
    transition: .3s;
    border-radius: 2px 2px 0 0;
}

.skills__cards__links:hover {
    box-shadow: -3px 3px 5px rgb(123, 119, 111);
}

.skills__cards__links:nth-child(1){
    background: var(--bg-skill-card) url(../imagen/html5-svg.svg) center / 35% no-repeat;
}

.skills__cards__links:nth-child(2) {
    background: var(--bg-skill-card) url(../imagen/css3-svg.svg) center / 35% no-repeat;
}

.skills__cards__links:nth-child(3) {
    background: var(--bg-skill-card) url(../imagen/js-svg.svg) center / 30% no-repeat;
}

.skills__cards__links:nth-child(4) {
    background: var(--bg-skill-card) url(../imagen/java-svg.svg) center / 38% no-repeat;
}

.skills__cards__links:nth-child(5) {
    background: var(--bg-skill-card) url(../imagen/express-svg.svg) center / 35% no-repeat;
}

.skills__cards__links:nth-child(6) {
    background: var(--bg-skill-card) url(../imagen/nodejs-svg.svg) center / 38% no-repeat;
}
.skills__cards__links:nth-child(7) {
    background: var(--bg-skill-card) url(../imagen/git-svg.svg) center / 35% no-repeat;
}

.skills__cards__links:nth-child(8) {
    background: var(--bg-skill-card) url(../imagen/github-svg.svg) center / 35% no-repeat;
}

.cards--hobbies:nth-child(1) {
    background: var(--bg-skill-card) url(../imagen/ibooks-svg.svg) center / 35% no-repeat;
}

.cards--hobbies:nth-child(2) {
    background: var(--bg-skill-card) url(../imagen/jugar-svg.svg) center / 35% no-repeat;
}

.cards--hobbies:nth-child(3) {
    background: var(--bg-skill-card) url(../imagen/viajar-svg.svg) center / 35% no-repeat;
}

.cards--hobbies:nth-child(4) {
    background: var(--bg-skill-card) url(../imagen/aprender-svg.svg) center / 35% no-repeat;
    font-size: smaller;
}

.cards--hobbies:nth-child(5) {
    background: var(--bg-skill-card) url(../imagen/deporte-svg.svg) center / 30% no-repeat;
}

.cards--hobbies:nth-child(6) {
    background: var(--bg-skill-card) url(../imagen/familia-svg.svg) center / 40% no-repeat;
}

.cards--hobbies:nth-child(7) {
    background: var(--bg-skill-card) url(../imagen/amigos-svg.svg) center / 45% no-repeat;
}

.cards--hobbies:nth-child(8) {
    background: var(--bg-skill-card) url(../imagen/musica-svg.svg) center / 30% no-repeat;
}


/* Smartphone */
@media screen and (max-width: 480px){

}


/* Tablet Mediana */
@media screen and (max-width: 768px){

}


/* Tablet Grande */
@media screen and (max-width: 1024px){

}

/* Notebook 14" */
@media screen and (max-width: 1300px){

    .skills{
        padding: 20px 0;
    }

    .skills__titulo{
        margin-bottom: 30px;
    }

    .skills__cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: 18%;
        margin-right: 18%;
        margin-top: 40px;
    }
}