.seccion__sobre__mi{
    grid-area: seccion__sobre__mi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px var(--padding-default);

    background-color: var(--bg-secundario);    
}

.seccion__sobre__mi__box{
    padding-right: var(--padding-sobreMin);
    margin-left: 230px;
    margin-right: 100px;
}

.seccion__sobre__mi__titulo{
    text-align: left;
    font-weight: 700;
    font-size: var(--fs-content-titulo700);
    line-height: var(--lh-content-titulo700);
    margin-bottom: 16px;
    
}

.seccion__sobre__mi__parrafo{
    text-align: justify;
    font-weight: 400;
    font-size: var(--fs-content-P);
    line-height: var(--lh-content-P);
    margin-bottom: 30px;
}

.seccion__sobre__mi__parrafo strong{
    color: rgb(0, 214, 128);
}

.seccion__sobre__mi__firma{
    font-size: var(--fs-LOGO);
    text-align: left;
    font-family: 'Babylonica', cursive;
}

@media screen and (max-width: 500px){
    .aboutMe, .aboutMe__box{
      padding: 2%;
    }
  }
  
  
  @media screen and (max-width: 330px){
    .aboutMe, .aboutMe__box{
      padding: 2%;
    }
  }